@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    /* scroll-behavior: smooth; */
}

html{
    font-size: 60%;
    overflow: hidden;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x:hidden ;
    background-color: #f8e1ed;
    color: #0c0c0cda;
}

/* HOME */
.home{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background-color: #f8e1ed;
}

.home-img{
    border-radius: 100%;
}

.home-img img{
    border-radius: 90%;
    position: relative;
    overflow: hidden;
    width: 250px;
    box-shadow: 0 0 40px #e99ba4;
    cursor: pointer;
    animation: animate 1.5s ease-in-out infinite ;
}
@keyframes animate{
    0%{
        scale: 1;
    }
    50%{
        scale: 1.05;
    }
    100%{
        scale: 1;
    }
}

.home-content{
    max-weight: 700; 
}
.home-content h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 1,4;
    line-height: 2;
}
.home-content h2{
    font-size: 30px;
    font-weight:600;
    line-height: 1,4;
   
    color: #0c0c0cda;
}
.home-content h2 span{
    color: #e99ba4;
    text-shadow:0 0 10px #ff9090;
}

.home-content h3{
    font-size: 35px;
    font-weight:600;
    line-height: 1;
    line-height: 2;
    color: #0c0c0cda;
}
.typing-text span::before{
    content: "";
    color: #e99ba4;
    animation: words 8s infinite;
}
.typing-text span::after{
    content: "";
    position: center;
    height: 7%;
    border-left: 3px solid rgb(228, 171, 171);
    right: -8;
    animation: cursor 0.5s infinite;
}
@keyframes cursor{
    to{
        border-left: 3px solid rgb(204, 140, 140);
    }
}
@keyframes words{
    0%, 20%{
        content: "Aktris";
    }
    21%, 40%{
        content: "Model";
    }
    41%, 60%{
        content: "Food Vloger";
    }
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    
}
.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #ffc0cb;
    border: 2px solid #ffc0cb;
    border-radius: 8px;
    font-size: 16px;
    color: #f8e1ed;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn-box a:hover{
    color: #ffc0cb;
}

.btn-box a:nth-child(2){
    background: transparent;
    color: #ffc0cb;
}

.btn-box a:nth-child(2):hover{
    color: #f8e1ed;
}
.btn-box a:nth-child(2)::before{
    background: #ffc0cb;
   
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #f8e1ed;
    z-index: -1;
    transition: .5s;
}
.btn-box a:hover::before{
    width: 100%;
}

/* PROFIL */
section .body{
    width: 80%;
    font-family: 'Poppins', sans-serif;
}
section .title span{
    display: flex;
    justify-content: center;
    margin-bottom: 20px ;
    color: #e99ba4;
    font-size: 30px;
    font-weight: 600;
    text-shadow:0 0 10px #ff9090;
}
.body-content{
    font-size: 15px;
    font-weight: 500; 
}

.wrapper{
    margin: 0 auto;
    width: 60%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    color: #0c0c0cda;
}
.table tr,th,td{
    font-weight: 700;
    border: 2px solid rgb(231, 132, 132);
    padding-left: 12px;
    font-size: 14px;
 
   
}
tr:hover {background-color: #ffc0cb;}

.photo{
    width: 170px;
}
.border{
    width: 100%;
    border-collapse: collapse;
    padding: 8px;
    text-align: left; 
}

.dokumen .boxes {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dokumen .boxes .box{
    margin: 20px 0;
    width: calc(100% /2 - 20px);
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgb(199, 126, 126);
    cursor: default;
    transition: all 0.4s ease;
    font-size: 10px;
    font-family: 'Poppins', sans-serif; 
}
.dokumen .boxes .box p{
    font-size: 15px;
}
.dokumen .boxes .box .topic{
    font-size: 20px;
}
.dokumen .boxes .box:hover{
    background: #ff9090;
    color: #f8e1ed;
}
